wsdl/desmon.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/DesmonStub/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DesmonStub" targetNamespace="http://www.tibco.com/DesmonStub/">
  <wsdl:types>
    <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/DesmonStub/" targetNamespace="http://www.tibco.com/DesmonStub/">
      <xsd:element name="Authenticate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AuthenticateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateRequest">
    <wsdl:part element="ns:Authenticate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AuthenticateResponse">
    <wsdl:part element="ns:AuthenticateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="DesmonStub">
    <wsdl:operation name="Authenticate">
      <wsdl:input message="ns:AuthenticateRequest"/>
      <wsdl:output message="ns:AuthenticateResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPServiceBinding" type="ns:DesmonStub">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="Authenticate" soapActionRequired="true" style="document"/>
      <wsdl:input>
        <soap12:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DesmonStub">
    <wsdl:port binding="ns:SOAPServiceBinding" name="DesmonStubSOAP">
      <soap12:address location="http://10.0.0.5:8080/SOAPServiceBinding/desmonStub/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
